<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>DVFA</title>
  
  <link rel="stylesheet" href="{{url_for('static',filename='login/css/reset-min.css')}}">
  <link rel='stylesheet prefetch' href="{{url_for('static',filename='login/css/fonts.css')}}">
<link rel='stylesheet prefetch' href="{{url_for('static',filename='login/css/font-awesome-min-4.3.0.css')}}">

      <link rel="stylesheet" href="{{url_for('static',filename='login/css/style.css')}}">

  
</head>

<body>
  
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
  <h1> About DVFA </h1>
 <div class="cta">
   <p> Damn Vulnerable Flask App (DVFA) is a Flask based web application that is damn vulnerable. Its main goal is to provide a platform to application security enthusiasts/professionals or students to test their penetration testing skills in a legal environment. This application covers all the common vulnerabilities found in web applications (following OWASP top 10) and contains several challenges that the user can try. This application also contains a section where a user can read various articles on Flask application security. This project is developed and maintained by <a href="https://twitter.com/brownhat57">@brownhat57</a> (twitter) .  DVFA is free and open source and can be downloaded from <a href="https://github.com/avemuri57/DVFA">here</a>.  </p>
 </div>
</div>
<!-- Form Module-->


  <script src="{{url_for('static',filename='login/js/jquery-2.1.3.min.js')}}"></script>
  <script src="{{url_for('static',filename='login/js/index.js')}}"></script>
 
</div>
</body>
</html>
